@model DemoApplication.Models.CountryViewModel

@{
	//Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}

<h2>@Model.Title</h2>
<div>
	<h3>Information</h3>
	<p>Capital: @Model.Capital</p>
	<p>Population: @Model.Population</p>
</div>