<!DOCTYPE html>

<html>
<head>
	<title>Welcome to MVC</title>
</head>
<body>
	<header>
		<h1>Welcome</h1>
	</header>

	<div>
		@RenderBody() @*Html from each view goes here*@
	</div>

	<footer>
		<h6>&copy; @DateTime.Now.Year</h6>
	</footer>
</body>
</html>
